<%-include('_partials/_header.ejs')%>
<%-include('_partials/_nav.ejs')%>

<div class="card text-center mt-2 mb-2">
    <div class="card-header">
        Cálculo de Nomina
    </div>
    <div class="card-body">
        <form class="row g-3" action="/index" method="post">
            <div class="col-md-6">
                <label for="inputNumDocente" class="form-label">Número de Docente</label>
                <input type="number" class="form-control" id="inputNumDocente" name="inputNumDocente" required placeholder="100"
                    >
            </div>
            <div class="col-md-6">
                <label for="inputNombre" class="form-label">Nombre</label>
                <input type="text" class="form-control" id="inputNombre" name="inputNombre" required placeholder="Ángel Ibarra"
                    >
            </div>
            <div class="col-12">
                <label for="inputDomicilio" class="form-label">Domicilio</label>
                <input type="text" class="form-control" id="inputDomicilio" required name="inputDomicilio"
                    placeholder="Av del Sol 33"
                    >
            </div>
            <div class="col-md-6">
                <label for="inputNivel" required class="form-label">Nivel Academico</label>
                <select id="inputNivel" name="inputNivel" class="form-select" >
                    <option selected value="0">Seleccione el nivel</option>
                    <option value="1">Licenciatura o Ingeniería</option>
                    <option value="2">Maestro en Ciencias</option>
                    <option value="3">Doctor</option>
                </select>
            </div>
            <div class="col-md-6">
                <label for="inputPagoXhora" required class="form-label">Pago por hora base</label>
                <input type="number" class="form-control" name="inputPagoXhora" id="inputPagoXhora" placeholder="100"
                    >
            </div>
            <div class="col-md-6">
                <label for="inputHorasImpartidas" required class="form-label">Horas impartidas</label>
                <input type="number" class="form-control" name="inputHorasImpartidas" id="inputHorasImpartidas" placeholder="20"
                    inputNumHijos>
            </div>
            <div class="col-md-6">
                <label for="imputNumHijos" required class="form-label">Servicio</label>
                <select id="imputNumHijos" name="imputNumHijos" class="form-select" >
                    <option selected value="0">Seleccione el número de hijos</option>
                    <option value="1">2 o menos</option>
                    <option value="2">De 3 a 5</option>
                    <option value="3">5 o más</option>
                </select>
            </div>
            <div class="col-12">
                <div class="btn-group" required role="group" aria-label="Basic mixed styles example">
                    <button type="submit" class="btn btn-outline-success">Enviar</button>
                    <button type="reset" class="btn btn-outline-danger">Limpiar</button>
                </div>
            </div>
        </form>
    </div>
    <div class="card-footer text-body-secondary">
        Ing. Ángel Ibarra Hernández
    </div>
</div>

<%-include('_partials/_footer.ejs')%>
</body>

</html>