<%-include('_partials/_header.ejs')%>
<%-include('_partials/_nav.ejs')%>

<div class="card text-center mt-2 mb-2">
    <div class="card-header" style="background-color: #008e6133;">
        <strong>Num. Docente: </strong><%= inputNumDocente%>
    </div>

    <div class="card-body">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Nombre</th>
                    <th scope="col">Domicilio</th>
                    <th scope="col">Nivel</th>
                    <th scope="col">Pago por hora base</th>
                    <th scope="col">Horas impartidas</th>
                    <th scope="col">Número de Hijos</th>
                </tr>
            </thead>

            <!-- Cálculos -->
            <%
                let pagoXhora = 0, nivel = 0;

                switch(parseInt(inputNivel)){
                    case 1:
                        nivel = parseFloat(inputPagoXhora + (inputPagoXhora*0.3))
                    break;
                    case 2:
                        nivel = parseFloat(inputPagoXhora + (inputPagoXhora*0.5))
                    break;
                    case 3:
                        nivel = parseFloat(inputPagoXhora + (inputPagoXhora*1))
                    break;
                }

                pagoXhora = parseFloat(nivel * inputHorasImpartidas)

                let impuesto = 0;
                impuesto = (pagoXhora * 0.16)
                
                let bono = 0;
                switch(parseInt(imputNumHijos)){
                    case 1:
                        bono = parseFloat(pagoXhora * 0.05)
                    break;
                    case 2:
                        bono = parseFloat(pagoXhora * 0.10)
                    break;
                    case 3:
                        bono = parseFloat(pagoXhora * 0.20).toFixed(2)
                    break;
                }

                let total = 0;

                total = parseFloat((pagoXhora+bono) - impuesto);
            %>

            <tbody>
                <tr>
                    <td scope="row"><%= inputNombre %></td>
                    <td><%= inputDomicilio %></td>
                    <td><%= inputNivel %></td>
                    <td><%= inputPagoXhora %></td>
                    <td><%= inputHorasImpartidas %></td>
                    <td><%= imputNumHijos %></td>
                </tr>
            </tbody>
        </table>
        <br>
        <div class="row">
            <div class="col-8 border">
                <center>
                    <h3 class="titulo mt-3"><strong>RESULTADOS</strong></h3>
                </center>
                <form class="mt-3">
                    <div class="row mb-3">
                        <div class="input-group">
                            <label for="subtotal" class="col-sm-2 col-form-label">Pago por Hora</label>
                            <div class="input-group-text">$</div>
                            <input type="number" class="form-control" disabled id="autoSizingInputGroup"
                                value=<%=pagoXhora%> readonly>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="input-group">
                            <label for="Impuesto" class="col-sm-2 col-form-label">Pago por Bonos</label>
                            <div class="input-group-text">$</div>
                            <input type="text" class="form-control" disabled id="autoSizingInputGroup"
                                value=<%=bono%> readonly>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="input-group">
                            <label for="Descuento" class="col-sm-2 col-form-label">Impuesto</label>
                            <div class="input-group-text">$</div>
                            <input type="text" class="form-control" disabled id="autoSizingInputGroup"
                                value=<%=impuesto%> readonly>
                        </div>
                    </div>
                    <div class="input-group">
                        <label for="total" class="col-sm-2 col-form-label">Total a pagar</label>
                        <div class="input-group-text">$</div>
                        <input type="text" class="form-control" disabled id="autoSizingInputGroup" value=<%=total%>
                            readonly>
                    </div>
                </form>
            </div>
            <div class="col">
                <img src="/img/docentes.png" alt="Amlo_CFE" style="width: 85%; max-height: 300px;">
            </div>
        </div>
    </div>
    <div class="card-footer text-body-secondary" style="background-color: #008e6133;">
        Ing. Ángel Ibarra Hernández
    </div>
</div>

<%-include('_partials/_footer.ejs')%>
</body>

</html>