<center>
    <footer class="footer bg-dark">
        <div class="container">
            <span class="text-light">
                SEP @Derechos reservados 2024
            </span>
        </div>
    </footer>
</center>